{% extends 'layout.html.twig' %}

{% block content -%}
    <h1 class="ui header">
        {% trans %}Schedule{% endtrans %}
        <div class="sub header">
            {{ 'for'|trans }}
            {% for class in classes -%}
                <strong>{{ class.name }}</strong> ({{ class.orientation.fullname }})
                {%- if not loop.last -%}
                    ,
                {% endif -%}
            {%- endfor -%}
        </div>
    </h1>


    <table class="desktop-item ui large padded celled table segment">
        <thead>
            <tr>
                <th class="schedule-hour">{% trans %}Hour{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Monday{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Tuesday{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Wednesday{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Thursday{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Friday{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for hour in 1..7 %}
            <tr class="schedule-row">
                {% spaceless %}
                    <td class="schedule-hour">{{ hour }}</td>
                    {% for day in range(constant('\\AppBundle\\Entity\\ScheduleItem::DAY_MONDAY'), constant('\\AppBundle\\Entity\\ScheduleItem::DAY_FRIDAY')) %}
                        {% include('schedule/item.html.twig') %}
                    {% endfor %}
                {% endspaceless %}
        {% endfor %}
        </tbody>
    </table>

    {# Reverse table for mobile #}
    <table class="mobile-item ui large padded celled table segment">
        <thead>
            <tr>
                <th>Day</th>
                {% for hour in 1..7 %}
                    <th>{{ hour }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for day in range(constant('\\AppBundle\\Entity\\ScheduleItem::DAY_MONDAY'), constant('\\AppBundle\\Entity\\ScheduleItem::DAY_FRIDAY')) %}
            <tr>
                {% spaceless %}
                    <td>{{ date('sunday + ' ~ day ~ ' days')|date("l") }}</td>
                    {% for hour in 1..7 %}
                        {{ include('schedule/item.html.twig') }}
                    {% endfor %}
                {% endspaceless %}
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
