{% extends 'layout.html.twig' %}

{% block content -%}
    <h1 class="ui header">
        {% trans %}Schedule{% endtrans %}
        <div class="sub header">
            {{ 'for'|trans }}
            {% for class in classes -%}
                <strong>{{ class.name }}</strong> ({{ class.orientation.fullname }})
                {%- if not loop.last -%}
                    ,<div class="mobile-item line-break"></div>
                {% endif -%}
            {%- endfor -%}
        </div>
    </h1>


    <table class="desktop-item ui large padded celled schedule table segment">
        <thead>
            <tr>
                <th class="schedule-hour">{% trans %}Hour{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Monday{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Tuesday{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Wednesday{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Thursday{% endtrans %}</th>
                <th class="schedule-day">{% trans %}Friday{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for hour in 1..7 %}
            <tr class="schedule-row">
                {% spaceless %}
                    <td class="schedule-hour">{{ hour }}</td>
                    {% for dayKey, day in days %}
                        {% if day.status is not constant('STATUS_DISABLED', day) or is_granted('ROLE_ADMIN') %}
                            {% include('schedule/item.html.twig') %}
                        {% elseif hour == 1 %}
                            <td class="schedule disabled" rowspan="7">&nbsp;</td>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}
        {% endfor %}
        </tbody>
    </table>

    {# Reverse table for mobile #}
    <table class="mobile-item ui large padded celled schedule table segment">
        <tbody>
        {% for dayKey, day in days %}
            <tr>
                {% spaceless %}
                    <td>{{ date('sunday + ' ~ dayKey ~ ' days')|localizeddate('full', 'full', null, null, 'EEEE') }}</td>
                    {% if day.status is not constant('STATUS_DISABLED', day) or is_granted('ROLE_ADMIN') %}
                        {% for hour in 1..7 %}
                            {{ include('schedule/item.html.twig') }}
                        {% endfor %}
                    {% endif %}
                {% endspaceless %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
