{% extends "layout.html.twig" %}

{% block content %}
    <h2 class="ui dividing header">
        <i class="dashboard icon"></i>
        <div class="content">
            {% trans %}Mark calculation{% endtrans %}
        </div>
    </h2>

    <div class="mark-box">
        <div class="mark-result">
            <h3 class="ui top attached center aligned header">
                {% trans %}Average{% endtrans %}
            </h3>
            <div class="ui bottom attached segment">
                <div class="ui vertical segment">
                    <button class="fluid ui labeled primary icon button">
                        <i class="chevron right icon"></i>
                        {% trans %}Calculate{% endtrans %}
                    </button>
                </div>
                <div class="ui vertical segment mark-exact-score">
                    <div id="mark-large-score" class="mark-large-score">..</div>
                    <span class="copy-paste">&nbsp;</span>
                    <div class="mark-quot-score">
                        <div id="mark-enumerator" class="mark-enumerator">.</div>
                        <span class="copy-paste">/</span>
                        <div id="mark-denominator" class="mark-denominator">..</div>
                    </div>
                </div>
                <div id="mark-decimal-score" class="ui vertical segment mark-decimal-score">
                    ....
                </div>
            </div>
        </div>

        <form action="#" class="ui mark-edit form" autocomplete="off">
            {% set previous = null %}
            {% for lesson in lessons %}
                {% set current = lesson.group ? lesson.group.id : null %}
                {% if current is not same as(previous) %}
                    <div class="ui hidden section divider"></div>
                    {% if lesson.group %}
                        <h3 class="ui left floated dividing header">
                            {{ lesson.group.name }}
                        </h3>
                    {% endif %}
                {% endif %}
                {% set previous = current %}

                <div class="inline field">
                    <label class="lesson-label">{{ lesson.name }}</label>
                    <input id="lm-{{ lesson.id }}" class="lesson-mark" {{- not lesson.graded ? ' disabled="disabled"' }} type="number" min="1" max="20" data-validate="lesson">
                </div>
            {% endfor %}
        </form>
{% endblock %}

{% block pagejs %}
    {% javascripts
        '%kernel.root_dir%/Resources/public/js/marks.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
