{% extends "layout.html.twig" %}
{% import _self as index %}

{% block title %}{{ 'Exams' | trans }}{% endblock %}

{% block content %}
<h1 class="ui header">{% trans %}Exams{% endtrans %}</h1>

<table class="ui celled table segment">
    <thead>
        <tr>
            <th class="one wide">{% trans %}Pos.{% endtrans %}</th>
            <th>{% trans %}Day{% endtrans %}</th>
            <th class="examTime">{% trans %}Time of day{% endtrans %}</th>
            <th class="ten wide">{% trans %}Lesson{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
            <tr
                {%- if exam.endDate.past %}
                    class="positive"
                {%- elseif exam.date.past %}
                    class="warning"
                {%- endif -%}
            >
                <td>{{ loop.index }}</td>
                <td>
                    {{- exam.date|localizeddate('full', 'full', null, null, 'cccc d MMMM') -}}
                    {%- if exam.date.year != "now"|date("Y") %}
                        {{ exam.date.year }}
                    {%- endif -%}
                </td>
                <td class="examTime">{{ index.formatHour(exam.date) }} - {{ index.formatHour(exam.endDate) }}</td>
                <td>
                    {% if exam.syllabi is empty %}
                        {{ exam.lesson.name }}
                    {% else %}
                        <a href="{{ path('app_exam_show', { id: exam.id }) }}">
                            {{ exam.lesson.name }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% macro formatHour(date) -%}
    {{- date|localizeddate('full', 'full', null, null, 'HH:mm') -}}
{%- endmacro %}
